@import "../../node_modules/@picocss/pico/scss/pico";
@import "./picoVars.scss";
// @import "./base.scss";
@import "./dh-common/dh-main";
@import "./switch.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 1rem auto;
  padding: 0rem;
  font-weight: normal;
  height: 100vh;
  //
  display: flex;
  flex-direction: column;
}
