/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: var(--teal-500);
  --primary-hover: var(--teal-700);
  --primary-focus: var(--teal-50);
  --primary-inverse: var(--teal-50);
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: var(--teal-300);
    --primary-hover: var(--teal-700);
    --primary-focus: var(--teal-50);
    --primary-inverse: var(--teal-50);
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: var(--teal-900);
  --primary-hover: var(--teal-700);
  --primary-focus: var(--teal-600);
  --primary-inverse: var(--teal-50);
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}